::-moz-selection { 
	background: rgb(25, 200, 180, 0.75); 
}

::selection { 
	background: rgb(25, 200, 180, 0.75); 
}

.hidden {
	display:none;
}
 
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Bracket changing text*/
.c0 {
	padding-bottom:10%;
}
.c1 {

}
.c2 {
	padding-left:50px
}
.c3 {
	padding-left:37px
}
.c4 {
	padding-left:20px
}

.content__container {
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
  /*font-weight: 600;*/
  overflow: hidden;
  height: 40px;
  padding-right:  40px;
}
.content__container:before {
  content: '[';
  left: 0;
}
.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  /*font-size: 42px;*/
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
	text-align:center;
  margin-top: 0;
  padding-left: 40px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@media screen and (max-width: 736px) {
	.c0 {
		padding-bottom:10%;
	}
	.c1 {

	}
	.c2 {
		padding-left:20px
	}
	.c3 {
		padding-left:17px
	}
	.c4 {
		padding-left:15px
	}
	.content__container { 
		height: 40px;
		font-size: 10px;
		/*padding-left:10px;*/
		padding-right:10px;
	}
	.content__container__list {
		padding-left:0px;
	}
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
/* Bracket changing text*/

/*give a box shadow to whatever element*/
.shadowx {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
/*the main quote at the top of the page*/
.mainquote {
	font-size:10px;
	padding-top:20px;
}

/*edits the coding languages*/
.codinglanguages {
	line-height:50px;
	font-size:17px;
	color:white;
	margin-bottom:15px;
}
	.hiddenlanguage {
		display:none;
		margin-top:-20px;
	}

	.language {
		padding: 3px;
		border:none;
	}

	.C {
		margin-left:-15px; 
		margin-right:-15px;
	}

	.javascript {
		margin-left:15px; 
		margin-right:40px;
	}	

/*links to spotify, linkedin, resume*/
.linkselement {
	margin-bottom:5%;
}

/*leave a message thing at bottom*/
.message {
	text-align:center; 
	position:relative; 
	width:80%; 
	left:10%; 
	color:black; 
	margin-bottom:2%;
}

/*weird blue lines*/
.container {
	outline: none;
}

.Bob {
	padding-top:40px;
    padding-right:0px;
}

/*about me image*/
.Bobimg {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	width:450px;
}

/*image size for projects*/
.projectimage {
	width:350px;
	height:240px;
}

/*style for contact form*/
#contact {
	margin-bottom:100px;
}
	.sendmessage {
		margin-bottom:10px; 
		margin-top:15px;
		border-color: lightgrey;
		color: lightgrey;
	}

/*screen size*/
@media screen and (max-width: 400px) {
	.projectimage {
		width:100%;

	}
}

@media screen and (max-width: 736px) {
	/*alligns the contact box with smaller screen sies*/
	.message { 
		width:auto; 
		left:auto; 
		margin-bottom:5%;
	}
}

@media screen and (max-width: 1200px) {
	/*mobile space out the image and the text for the aboutme section more*/
	.Bob {
		-webkit-transform: rotate(-90deg);
	    -moz-transform: rotate(-90deg);
	    -o-transform: rotate(-90deg);
	    -ms-transform: rotate(-90deg);
	    transform: rotate(-90deg);
		margin-bottom:75px;
	}

	/*adjust image size for mobile*/
	.Bobimg {
		width: 100%;
	}	

	.projectimage {
		text-align:center;
	}

	hr {
		width:50%;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}

	.javascript {
		margin-left:0px;
		margin-right:0px;
	}
}




/* Banner */

	#banner {
		display: -ms-flexbox;
		-ms-flex-pack: center;
		-ms-flex-align: center;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-image: url("../../assets/images/Wallpapers/Telescopic Sky.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-top: 0;
		min-height: 100vh;
		height: 100vh !important;
		width: 100%;
		position: relative;
		text-align: center;
		overflow: hidden;
	}

		#banner .inner {
			-moz-transform: scale(1.0);
			-webkit-transform: scale(1.0);
			-ms-transform: scale(1.0);
			transform: scale(1.0);
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
			border-radius: 0px;
			opacity: 1;
			position: relative;
			z-index: 2;
			/*padding: 10px;*/
		}

		#banner h1 {
			font-size: 4.2rem;
			margin-bottom: 1rem;
			color: #FFF;
		}

		#banner p {
			color: rgba(255, 255, 255, 0.75);
			margin-bottom: 0rem;
		}

		#banner a {
			color: #FFF;
			text-decoration: none;
		}

		#banner video {
			-moz-transform: translateX(50%) translateY(50%);
			-webkit-transform: translateX(50%) translateY(50%);
			-ms-transform: translateX(50%) translateY(50%);
			transform: translateX(50%) translateY(50%);

			object-fit: cover;
			position: absolute;
			bottom: 50%;
			right: 50%;
			width: 100%;
			height: 100%;
			min-width: 100%;
			min-height: 100%;
			overflow: hidden;
		}

		#banner:before {
			-moz-transition: opacity 4s ease;
			-webkit-transition: opacity 4s ease;
			-ms-transition: opacity 4s ease;
			transition: opacity 4s ease;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;
			content: '';
			display: block;
			background-color: rgba(0, 0, 0, 0.85);
			left: 0;
			opacity: 0.45;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
		}
	

		@media screen and (max-width: 1280px) {

			#banner video {
				display: none;
			}
			
			#banner .inner {
				background-color: rgba(128,128,128, 0.0);
			}
			
			#banner .button {
				display: none;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				min-height: 550px;
				height: auto !important;
				padding: 6rem 2rem 4rem 2rem;
			}

				#banner .inner {
					width: 100%;
				}

				#banner h1 {
					font-size: 1.75em;
					margin-bottom: 0.5em;
					padding-bottom: 0;
				}

				#banner p {
					/*font-size: 1.25em;*/
				}

				#banner br {
					display: none;
				}

				#banner .button {
					width: 100%;
				}

		}

		@media screen and (max-width: 480px) {

			#banner p {
				/*font-size: 1em;*/
			}

		}

		body.is-loading #banner .inner {
			-moz-transform: scale(0.99);
			-webkit-transform: scale(0.99);
			-ms-transform: scale(0.99);
			transform: scale(0.99);
			opacity: 0;
		}

		/*body.is-loading #banner:before {
			opacity: 1;
		}*/

		@media screen and (max-width: 1280px) {

			.wrapper > .inner {
				width: 75rem;
			}

		}

		@media screen and (max-width: 980px) {

			.wrapper > .inner {
				width: 90%;
			}

			/*.wrapper.style3 {
				background-attachment: scroll
			}*/

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3rem 0 1rem 0 ;
			}

		}

/* Wrapper */

	.wrapper {
		padding: 0.5rem 0 0.5rem 0 ;
		position: relative;
		margin: 0;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 80rem;
		}

		.wrapper.style2 {
			background-color: #000;
			color: #bfbfbf;
			background-image: url(../../assets/images/Wallpapers/UnderTheOverpass.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
		}

			.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
				color: #ffffff;
			}

			.wrapper.style2 a {
				color: #5AA6ED;
			}

			.wrapper.style2 strong, .wrapper.style2 b {
				color: #ffffff;
			}

			.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
				color: #ffffff;
			}

			.wrapper.style2 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 .inner {
				position: relative;
				z-index: 2;
			}

			.wrapper.style2:before {
				-moz-transition: opacity 3s ease;
				-webkit-transition: opacity 3s ease;
				-ms-transition: opacity 3s ease;
				transition: opacity 3s ease;
				-moz-transition-delay: 1.25s;
				-webkit-transition-delay: 1.25s;
				-ms-transition-delay: 1.25s;
				transition-delay: 1.25s;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.95);
				height: 100%;
				left: 0;
				opacity: 0.75;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

		.wrapper.style3 {
			background-color: #000;
			color: #bfbfbf;
			background-image: url(../../assets/images/Wallpapers/Cityline.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
		}

			.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
				color: #ffffff;
			}

			.wrapper.style3 a {
				color: #5AA6ED;
				text-decoration:none;
				color:white;
			}

			.wrapper.style3 a:hover {
				color: black;
			}

			.wrapper.style3 strong, .wrapper.style3 b {
				color: #ffffff;
			}

			.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
				color: #ffffff;
			}

			.wrapper.style3 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 .inner {
				position: relative;
				z-index: 2;
			}

			.wrapper.style3:before {
				-moz-transition: opacity 3s ease;
				-webkit-transition: opacity 3s ease;
				-ms-transition: opacity 3s ease;
				transition: opacity 3s ease;
				-moz-transition-delay: 1.25s;
				-webkit-transition-delay: 1.25s;
				-ms-transition-delay: 1.25s;
				transition-delay: 1.25s;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.95);
				height: 100%;
				left: 0;
				opacity: 0.75;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

		.wrapper.style4 {
			background-color: #000;
			color: #bfbfbf;
			background-image: url(../../assets/images/Wallpapers/space1.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
		}

			.wrapper.style4 input, .wrapper.style4 select, .wrapper.style4 textarea {
				color: #ffffff;
			}

			.wrapper.style4 a {
				color: #5AA6ED;
			}

			.wrapper.style4 strong, .wrapper.style4 b {
				color: #ffffff;
			}

			.wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
				color: #ffffff;
			}

			.wrapper.style4 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style4 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style4 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style4 .inner {
				position: relative;
				z-index: 2;
			}

			.wrapper.style4:before {
				-moz-transition: opacity 3s ease;
				-webkit-transition: opacity 3s ease;
				-ms-transition: opacity 3s ease;
				transition: opacity 3s ease;
				-moz-transition-delay: 1.25s;
				-webkit-transition-delay: 1.25s;
				-ms-transition-delay: 1.25s;
				transition-delay: 1.25s;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.95);
				height: 100%;
				left: 0;
				opacity: 0.75;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

		

		@media screen and (max-width: 1280px) {

			.wrapper > .inner {
				width: 75rem;
			}

		}

		@media screen and (max-width: 980px) {

			.wrapper > .inner {
				width: 90%;
			}
		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3rem 0 1rem 0;
			}

			.wrapper.style2, .wrapper.style3, .wrapper.style4, #banner {
				background-attachment: scroll;
				/*position: fixed*/
			}

		}