::-moz-selection { 
	background: rgb(25, 200, 180, 0.75); 
}

::selection { 
	background: rgb(25, 200, 180, 0.75); 
}

.hidden {
	display:none;
}

/*give a box shadow to whatever element*/
.shadowx {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 
/*the main quote at the top of the page*/
.mainquote {
	font-size:10px;
	padding-top:20px;
}

/*edits the coding languages*/
.codinglanguages {
	line-height:50px;
	font-size:17px;
	color:white;
	margin-bottom:15px;
}
	.hiddenlanguage {
		display:none;
		margin-top:-20px;
	}

	.language {
		padding: 3px;
		border:none;
	}

/*links to spotify, linkedin, resume*/
.linkselement {
	margin-bottom:5%;
}

/*leave a message thing at bottom*/
.message {
	text-align:center; 
	position:relative; 
	width:80%; 
	left:10%; 
	color:black; 
	margin-top:20px
}

/*weird blue lines*/
.container {
	outline: none;
}

/*about me image*/
.Bobimg {
	width:435px;
}

/*image size for projects*/
.projectimage {
	width:350px;
	height:240px;
}

/*style for contact form*/
#contact {
	margin-bottom:100px;
}
	.sendmessage {
		margin-bottom:10px; 
		margin-top:15px;
		border-color: lightgrey;
		color: lightgrey;
	}

/*screen size*/
@media screen and (max-width: 400px) {
	.projectimage {
		width:100%;

	}
}

@media screen and (max-width: 736px) {
	/*alligns the contact box with smaller screen sies*/
	.message { 
		width:auto; 
		left:auto; 
	}
}

@media screen and (max-width: 1200px) {
	/*mobile space out the image and the text for the aboutme section more*/
	.Bob {
		margin-bottom:35px;
	}

	/*adjust image size for mobile*/
	.Bobimg {
		width: 100%;
	}	

	.projectimage {
		text-align:center;
	}

	hr {
		width:50%;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 4px;
        width: 10px;
        height: 10px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 4px;
        width: 15px;
        height: 15px;
    }
}



/* Banner */

	#banner {
		display: -ms-flexbox;
		-ms-flex-pack: center;
		-ms-flex-align: center;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		background-image: url("../../assets/images/Wallpapers/Telescopic Sky.jpg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-top: 0;
		min-height: 100vh;
		height: 100vh !important;
		width: 100%;
		position: relative;
		text-align: center;
		overflow: hidden;
	}

		#banner .inner {
			-moz-transform: scale(1.0);
			-webkit-transform: scale(1.0);
			-ms-transform: scale(1.0);
			transform: scale(1.0);
			-moz-transition: opacity 1s ease, -moz-transform 1s ease;
			-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
			-ms-transition: opacity 1s ease, -ms-transform 1s ease;
			transition: opacity 1s ease, transform 1s ease;
			border-radius: 0px;
			opacity: 1;
			position: relative;
			z-index: 2;
			padding: 10px;
		}

		#banner h1 {
			font-size: 4.2rem;
			margin-bottom: 1rem;
			color: #FFF;
		}

		#banner p {
			color: rgba(255, 255, 255, 0.75);
			margin-bottom: 0rem;
		}

		#banner a {
			color: #FFF;
			text-decoration: none;
		}

		#banner video {
			-moz-transform: translateX(50%) translateY(50%);
			-webkit-transform: translateX(50%) translateY(50%);
			-ms-transform: translateX(50%) translateY(50%);
			transform: translateX(50%) translateY(50%);

			object-fit: cover;
			position: absolute;
			bottom: 50%;
			right: 50%;
			width: 100%;
			height: 100%;
			min-width: 100%;
			min-height: 100%;
			overflow: hidden;
		}

		#banner:before {
			-moz-transition: opacity 4s ease;
			-webkit-transition: opacity 4s ease;
			-ms-transition: opacity 4s ease;
			transition: opacity 4s ease;
			-moz-transition-delay: 1.25s;
			-webkit-transition-delay: 1.25s;
			-ms-transition-delay: 1.25s;
			transition-delay: 1.25s;
			content: '';
			display: block;
			background-color: rgba(0, 0, 0, 0.85);
			left: 0;
			opacity: 0.45;
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
		}
	

		@media screen and (max-width: 1280px) {

			#banner video {
				display: none;
			}
			
			#banner .inner {
				background-color: rgba(128,128,128, 0.0);
			}
			
			#banner .button {
				display: none;
			}

		}

		@media screen and (max-width: 736px) {

			#banner {
				min-height: 550px;
				height: auto !important;
				padding: 6rem 2rem 4rem 2rem;
			}

				#banner .inner {
					width: 100%;
				}

				#banner h1 {
					font-size: 1.75em;
					margin-bottom: 0.5em;
					padding-bottom: 0;
				}

				#banner p {
					/*font-size: 1.25em;*/
				}

				#banner br {
					display: none;
				}

				#banner .button {
					width: 100%;
				}

		}

		@media screen and (max-width: 480px) {

			#banner p {
				/*font-size: 1em;*/
			}

		}

		body.is-loading #banner .inner {
			-moz-transform: scale(0.99);
			-webkit-transform: scale(0.99);
			-ms-transform: scale(0.99);
			transform: scale(0.99);
			opacity: 0;
		}

		/*body.is-loading #banner:before {
			opacity: 1;
		}*/

		@media screen and (max-width: 1280px) {

			.wrapper > .inner {
				width: 75rem;
			}

		}

		@media screen and (max-width: 980px) {

			.wrapper > .inner {
				width: 90%;
			}

			/*.wrapper.style3 {
				background-attachment: scroll
			}*/

		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3rem 0 1rem 0 ;
			}

		}

/* Wrapper */

	.wrapper {
		padding: 0.5rem 0 0.5rem 0 ;
		position: relative;
		margin: 0;
	}

		.wrapper > .inner {
			margin: 0 auto;
			width: 80rem;
		}

		.wrapper.style2 {
			background-color: #000;
			color: #bfbfbf;
			background-image: url(../../assets/images/Wallpapers/UnderTheOverpass.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
		}

			.wrapper.style2 input, .wrapper.style2 select, .wrapper.style2 textarea {
				color: #ffffff;
			}

			.wrapper.style2 a {
				color: #5AA6ED;
			}

			.wrapper.style2 strong, .wrapper.style2 b {
				color: #ffffff;
			}

			.wrapper.style2 h1, .wrapper.style2 h2, .wrapper.style2 h3, .wrapper.style2 h4, .wrapper.style2 h5, .wrapper.style2 h6 {
				color: #ffffff;
			}

			.wrapper.style2 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style2 .inner {
				position: relative;
				z-index: 2;
			}

			.wrapper.style2:before {
				-moz-transition: opacity 3s ease;
				-webkit-transition: opacity 3s ease;
				-ms-transition: opacity 3s ease;
				transition: opacity 3s ease;
				-moz-transition-delay: 1.25s;
				-webkit-transition-delay: 1.25s;
				-ms-transition-delay: 1.25s;
				transition-delay: 1.25s;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.95);
				height: 100%;
				left: 0;
				opacity: 0.75;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

		.wrapper.style3 {
			background-color: #000;
			color: #bfbfbf;
			background-image: url(../../assets/images/Wallpapers/Cityline.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
		}

			.wrapper.style3 input, .wrapper.style3 select, .wrapper.style3 textarea {
				color: #ffffff;
			}

			.wrapper.style3 a {
				color: #5AA6ED;
				text-decoration:none;
				color:white;
			}

			.wrapper.style3 a:hover {
				color: black;
			}

			.wrapper.style3 strong, .wrapper.style3 b {
				color: #ffffff;
			}

			.wrapper.style3 h1, .wrapper.style3 h2, .wrapper.style3 h3, .wrapper.style3 h4, .wrapper.style3 h5, .wrapper.style3 h6 {
				color: #ffffff;
			}

			.wrapper.style3 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style3 .inner {
				position: relative;
				z-index: 2;
			}

			.wrapper.style3:before {
				-moz-transition: opacity 3s ease;
				-webkit-transition: opacity 3s ease;
				-ms-transition: opacity 3s ease;
				transition: opacity 3s ease;
				-moz-transition-delay: 1.25s;
				-webkit-transition-delay: 1.25s;
				-ms-transition-delay: 1.25s;
				transition-delay: 1.25s;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.95);
				height: 100%;
				left: 0;
				opacity: 0.75;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

		.wrapper.style4 {
			background-color: #000;
			color: #bfbfbf;
			background-image: url(../../assets/images/Wallpapers/space1.jpg);
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
		}

			.wrapper.style4 input, .wrapper.style4 select, .wrapper.style4 textarea {
				color: #ffffff;
			}

			.wrapper.style4 a {
				color: #5AA6ED;
			}

			.wrapper.style4 strong, .wrapper.style4 b {
				color: #ffffff;
			}

			.wrapper.style4 h1, .wrapper.style4 h2, .wrapper.style4 h3, .wrapper.style4 h4, .wrapper.style4 h5, .wrapper.style4 h6 {
				color: #ffffff;
			}

			.wrapper.style4 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style4 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style4 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrapper.style4 .inner {
				position: relative;
				z-index: 2;
			}

			.wrapper.style4:before {
				-moz-transition: opacity 3s ease;
				-webkit-transition: opacity 3s ease;
				-ms-transition: opacity 3s ease;
				transition: opacity 3s ease;
				-moz-transition-delay: 1.25s;
				-webkit-transition-delay: 1.25s;
				-ms-transition-delay: 1.25s;
				transition-delay: 1.25s;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.95);
				height: 100%;
				left: 0;
				opacity: 0.75;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

		

		@media screen and (max-width: 1280px) {

			.wrapper > .inner {
				width: 75rem;
			}

		}

		@media screen and (max-width: 980px) {

			.wrapper > .inner {
				width: 90%;
			}
		}

		@media screen and (max-width: 736px) {

			.wrapper {
				padding: 3rem 0 1rem 0;
			}

			.wrapper.style2, .wrapper.style3, .wrapper.style4, #banner {
				background-attachment: scroll;
				/*position: fixed*/
			}

		}